@using Bloogs.Entities
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@model Blog
@inject IStringLocalizer<Bloogs> Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["Title"] = "My blog";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>


<div>
    <a asp-controller="Post" asp-action="Create">@Localizer["addpost"]</a>
</div>
<div>
    @foreach (var item in Model.Posts) {
            <tr>
                <td>
                    @Html.Raw(item.Content)
                </td>
                @* <td> *@
                @*     @Html.DisplayFor(modelItem => item.ImagesUrl) *@
                @* </td> *@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
   
</div>
