@using Bloogs.Entities
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@model Blog
@inject IStringLocalizer<Bloogs> Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["Title"] = "My blog";
}

<h1>@Html.DisplayFor(model => model.Name) <a class="btn btn-primary" asp-controller="Blog" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-square"></i></a>  
    <a class="btn btn-primary" asp-controller="Post" asp-action="Create">@Localizer["addpost"]</a> </h1>

<div>
    <table>
    @foreach (var item in Model.Posts) {
            <tr>
                <td class="h4">
                    @Html.Raw(item.Title)
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Post" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> 
                    <a class="btn btn-primary" asp-controller="Post" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-three-dots-vertical"></i></a> 
                    <a class="btn btn-danger" asp-controller="Post" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
    }
    </table>
   
</div>
