@using Microsoft.Extensions.Localization
@model IEnumerable<Post>
@inject IStringLocalizer<Bloogs> Localizer
@{
    ViewData["Title"] = @Localizer["Home"];
    var recentPosts = Model.OrderByDescending(p => p.DateCreated).Take(5);
    var mostLikedPosts = Model.OrderByDescending(p => p.Likers?.Count ?? 0).Take(5);
    var mostCommentedPosts = Model.OrderByDescending(p => p.Comments?.Count ?? 0 ).Take(5);
}
@section mediumish {
    <link href="@Url.Content("~/css/mediumish.css")" rel="stylesheet" />
}
<div class="main">
    <div class="container">
        <div class="mainheading">
            <h1 class="sitetitle">@Localizer["Welcome"]</h1>
            <p class="lead">
                @Localizer["Intro"]
            </p>
        </div>
        <section class="recent-posts">
            <div class="section-title">
                <h2><span>@Localizer["PostByDate"]</span></h2>
            </div>
            <div class="card-columns listrecent">
            @foreach (var post in recentPosts)
            {
                <!-- begin post -->
                <div class="card">
                    <div class="card-block">
                        <h2 class="card-title">
                            <a href="post.html">Autumn doesn't have to be nostalgic, you know?</a>
                        </h2>
                        <h4 class="card-text">
                            @Html.DisplayFor(modelItem => post.Content.Substring(0,130))
                        </h4>
                        <div class="metafooter">
                            <div class="wrapfooter">
                                <span class="author-meta">
                                    <span class="post-name">@Html.DisplayFor(modelItem => post.Poster.FirstName + " " + post.Poster.LastName)</span><br />
                                    <span class="post-date">@Html.DisplayFor(modelItem => post.DateCreated.ToString("dd/MM/yyyy"))</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
            }
            </div>
        </section>
    <section class="recent-posts">
        <div class="section-title">
                <h2><span>@Localizer["PostByLikes"]</span></h2>
        </div>
        <div class="card-columns listrecent">
            @foreach (var post in mostLikedPosts)
            {
                <!-- begin post -->
                <div class="card">
                    <div class="card-block">
                        <h2 class="card-title">
                            <a href="post.html">Autumn doesn't have to be nostalgic, you know?</a>
                        </h2>
                        <h4 class="card-text">
                            @Html.DisplayFor(modelItem => post.Content.Substring(0,130))
                        </h4>
                        <div class="metafooter">
                            <div class="wrapfooter">
                                <span class="author-meta">
                                    <span class="post-name">@Html.DisplayFor(modelItem => post.Poster.FirstName + " " + post.Poster.LastName)</span><br />
                                    <span class="post-date">@Html.DisplayFor(modelItem => post.DateCreated.ToString("dd/MM/yyyy"))</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
            }
        </div>
    </section>
    <section class="recent-posts">
        <div class="section-title">
                <h2><span>@Localizer["PostByComments"]</span></h2>
        </div>
        <div class="card-columns listrecent">
            @foreach (var post in mostCommentedPosts)
            {
                <!-- begin post -->
                <div class="card">
                    <div class="card-block">
                        <h2 class="card-title">
                            <a href="post.html">Autumn doesn't have to be nostalgic, you know?</a>
                        </h2>
                        <h4 class="card-text">
                            @Html.DisplayFor(modelItem => post.Content.Substring(0,130))
                        </h4>
                        <div class="metafooter">
                            <div class="wrapfooter">
                                <span class="author-meta">
                                    <span class="post-name">@Html.DisplayFor(modelItem => post.Poster.FirstName + " " + post.Poster.LastName)</span><br />
                                    <span class="post-date">@Html.DisplayFor(modelItem => post.DateCreated.ToString("dd/MM/yyyy"))</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
            }
        </div>
    </section>
    </div>
</div>
